/*first commit*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

.container {
  display: flex;
  flex-direction: column;
}

.red {
  position: relative;
  width: 400px;
  height: 100px;
  background: #f00;
}

.white {
  position: absolute;
  top: 20px;
  right: 20px;
  background: white;
  padding: 10px;
  display: flex;
  gap: 10px;
  border: 1px solid #f00;
}

.purple {
  width: 40px;
  height: 40px;
  background: #6729a0;
}

.container-b {
  display: flex;
}

.green {
  width: 150px;
  height: 250px;
  background: #0a5;
}

.blue {
  width: 250px;
  height: auto;
  background: #2563eb;
  margin-top: 40px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
  box-sizing: border-box;
}

.white2 {
  background: white;
  padding: 5px;
  width: fit-content;
  box-sizing: border-box;
}

.orange {
  width: 140px;
  height: 40px;
  background: #ff863f;
}

.yellow {
  width: 400px;
  height: 100px;
  background: #fd0;
}